@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}


*{
    font-family: Sriracha;
    font-weight: normal;
    margin: 0;
}
 body{
    background-color: wheat;
 }
header{
    font-size: 15px;
    text-align: center;
}

header img{
    margin-top: 20px;
    border-radius: 35%;
    object-fit: cover;
    border: 3px solid wheat;
}


nav a{
    color: wheat;
    text-decoration: none;
}
nav li :hover{
    color: gold;
}
nav img{
    width: 150px;
}

nav{
    background-color: rgb(104, 77, 148);
    font-size: 20px;
    color: wheat;
    justify-content: space-between;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0px;
}

nav ul{
    display: flex;
    list-style:none;
    gap: 20px;
    font-size: 30px;

}

.Gallery{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;

}
.card{
    background-color: antiquewhite;
    width: 400px;
    border: 30%;
    overflow: hidden;
    border-radius: 50px;

}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3{
    padding: 10px;
    font-size: 40px;
}
